name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4      
      - name: Build & test  
        run: make builds
      - name: Build & test
        run: make builds
      - name: Build docker
        run: make docker